<mat-toolbar color="primary"> </mat-toolbar>

<div style="margin: 2rem" fxLayout="row wrap" fxLayoutAlign="center">
  <mat-card *ngFor="let site of websites" style="min-width: 20rem; max-width: 25%; margin: 1rem">
    <mat-card-header>
      <mat-card-title fxLayout="row" style="align-items: center">
        <h1 style="margin: 0 1rem 0 0">{{ site.name }}</h1>
        <a
          mat-icon-button
          *ngIf="site.url"
          [href]="site.url"
          target="_blank"
          color="primary"
          style="width: 24px; height: 24px"
        >
          <mat-icon fxLayoutAlign="center">open_in_new</mat-icon>
        </a>
      </mat-card-title>
      <mat-card-subtitle *ngIf="site.keywords">
        <mat-chip-list>
          <mat-chip *ngFor="let keyword of site.keywords" color="accent" selected>{{ keyword }}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="site.source" [lazyLoad]="site.source" />
    <mat-card-content *ngIf="site.description">
      <p>{{ site.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
